DATABASE_URL="file:./prisma/dev.db"
PORT=8787
JWT_SECRET="change_me_in_real_env"
JWT_EXPIRES_IN="7d"

# bootstrap admin (создастся автоматически при старте, если нет)
ADMIN_LOGIN="admin"
ADMIN_PASSWORD="admin12345"
ADMIN_ROLE="admin"

# CORS для dev
CORS_ORIGIN="http://localhost:5173"

